<%- include('./common/header.ejs') %>

<div class="container mt-5 row"> 
  <h4>Subject Details</h4>
  <div class="col-md-5">
  <div class="product-images">
    <img style="width: 200px; height: 200px;" src="/<%= detailsdata.customfile %>" alt="">
  
    </div></div>
  <div class="col-md-7">

  <h4> <%= detailsdata.subjectname %> </h4>
  <p> <%=detailsdata.subjectcode  %> </p>
  <h4> <%=detailsdata.subjectdescription  %> </h4>
  <h5> <%=detailsdata.subjectcategory  %> </h5>

<div class="mt-4">
  
  <button class="btn  btn-lg">Join now</button>
</div>
</div></div>
            
  
 

  
    

    